.order-details-page {
  max-width: 1240px;
  width: 100%;
  margin: 18px auto;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.print-queue-button-container {
  margin-bottom: 8px;
}

.print-queue-button {
  border: 1px solid #004e8d;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #004e8d;
  color: #f8fafc;
  font-family: inherit;
  font-size: 14px;
}

.print-queue-button:hover {
  background-color: #004176;
}
