.orders-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px 0 93px 0;
  font-family: 'Inter', sans-serif;
}

.orders-container {
  max-width: 1240px;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 0 auto;
}

.orders-actions {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.create-order {
  font-size: 16px;
  border: 1px solid black;
  border-radius: 6px;
  width: 160px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: white;
  color: #1e293b;
}

.create-order:hover {
  border-color: #004e8d;
  background-color: #f1f5f9;
}

.create-order:active {
  background-color: #dbe4ed;
}

.nan-orders {
  font-size: 18px;
  color: rgba(30, 41, 59, 0.7);
  margin-top: 20vh;
  text-align: center;
}
