.main-header {
  height: 90px;
  background-color: #1e293b;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.header-burger {
  margin-left: 132px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  flex-shrink: 0;
  width: 46px;
}

.header-spacer {
  margin-right: 132px;
  width: 46px;
  flex-shrink: 0;
}

.header-burger span {
  width: 46px;
  height: 5px;
  background-color: #f8fafc;
  border-radius: 5px;
}

.page-title {
  flex: 1;
  text-align: center;
  color: #f8fafc;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
}

@media screen and (max-width: 1366px) {
  .main-header {
    height: 76px;
  }
}
